.main_page_container{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("home_page_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    flex-direction: row; */
}
.main_page_content{
    display: flex;
    flex-direction: column;
    /* border: black solid; */
    margin-left: 40%;
    /* padding-top: 20%; */
    height: 100%;
    align-items: center;
    justify-content: center;
}

.website_name_heading h1{
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    color: white;
}
.website_placed_data{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
}
.register_button{
    display: flex;
    margin-top: 80px;
    font-family: 'Lato' ,sans-serif;
    font-size: 1.5rem;
    padding: 10px;
}
.register_button:hover{
    color: #4070F4 !important;
}
.website_imp_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}
.data_cont{
    font-size: 2rem;
    color: white;
}
.title_cont{
    color: #4070F4;
    font-size: 1.5rem;
}
.main_page_container .first_page_cont{
    /* background-image: url("https://img.freepik.com/free-photo/top-view-career-written-note-with-stickers-notepad-white-background-job-office-copybook-salary-college-business-color_179666-19734.jpg"); */
    width: 100px;
    height: 200px;
}
.placement_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 500px;
    /* border: black solid; */
}
@media  screen and (max-width: 900px) {
.placement_container{
    flex-direction: column;
}
.placement_photo{
    width: 100%;
    height: 50%;
}
    
}
.placement_photo{
    background-image: url("https://englishtribuneimages.blob.core.windows.net/gallary-content/2020/3/Desk/2020_3$largeimg_109317230.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;

}
.placement_records{
    width: 50%;

    text-align: center;
    background-color: rgb(150, 184, 215);
    color: white;
    font-family: "Poppins",sans-serif;
}
.placement_records h1{
    font-weight: 600;
    font-size: 3rem;
    color: gray;
    padding: auto;
}
.placement_records .placed_data{
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 2rem;
}
.placement_records .avg_salary{
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 2rem;
}
.placement_records .Median_salary{
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 2rem;
}
@media  screen and (max-width: 900px) {
    .placement_container{
        flex-direction: column;
        height: 1000px;
    }
    .placement_photo{
        width: 100%;
        height: 100%;
        display: block;
    }
    .placement_records{
        width: 100%;
        height: 100%;
    }
        
    }





.companies_cont{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poopins',sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
}
.companies_heading{
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    padding-top: 70px;
}
.card_-image{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #FFF;
    padding: 3px;
    border-radius: 50%;
    
}
.card_-image .card_-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(73, 170, 210);;;
}
 .card_{
    width: 320px;

    border-radius: 25px;
    background-color: #FFF;
    margin: 10px;
 }
.slide-content{
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}
.card_-wrapper{
    display: flex;
}
.image-content , .card_-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;


    
}
.company_name{
    font-size: 18px;
    font-weight: 600;
    color: #333;

}
.company_desc{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.company_button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    /* background-color: #4070F4;
     */
     background-color: rgb(73, 170, 210);;
    border-radius: 6px;
    margin: 14px;   
    cursor: pointer;
    transition: all 0.3s ease;
}
.company_button:hover{
    /* background: #265DF2; */
    background: rgb(73, 170, 210);;;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: #4070F4;
     */
     background-color: rgb(73, 170, 210);;
    border-radius: 25px 25px 0 25px;

}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;

    height: 40px;
    width: 40px;
    /* background-color: #4070F4; */
    background-color: rgb(73, 170, 210);;

}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.slide-container{
    max-width: 1120px;
    width: 100%;

    padding: 40px 0;
}


.companyreveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
    overflow: hidden;
}
.companyreveal.companyActive{
    transform: translateY(0px);
    opacity: 1;

}