.sidebar-main{
    height: 80px;
    background-color: #4070F4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navtext{
    
    display: flex;
    font-family: 'Lato',sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 10;
    color: white;
    font-size: 30px;
    font-weight: 600;
    flex-basis: 140%;
    
    
}
.dummy{
    flex-basis: 10%;
}
.navtext i{
    padding-right: 5px;
}
