.sidebar-main{
    height: 80px;
    background-color: #4070F4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* .navtext{
    
    display: flex;
    font-family: 'Lato',sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 10;
    color: white;
    font-size: 30px;
    font-weight: 600;
    flex-basis: 140%;
    
    
} */
/* .dummy{
    flex-basis: 10%;
} */
.navtext i{
    padding-right: 5px;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 16%;
}
.navButton{
    margin: 5px;
    font-family: 'Lato',sans-serif;
    color: #4070F4;
    background: linear-gradient(var(--x),#00ccff,#0e1538,#d400d4);
}
